@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4b90b9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f8f8f8;
  font-size: 16px;
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

.btn-primary {
  @apply text-white font-bold flex items-center justify-center rounded-md bg-primary text-center  duration-300 w-full h-full;
  filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.25));
}

.btn-primary:hover {
  translate: 0 2px;
  filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.25));
}

.hover-animation-border {
  position: relative;
}
.hover-animation-border::after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.3s;
}
.hover-animation-border.primary::after {
  @apply bg-primary;
}
.hover-animation-border.white::after {
  @apply bg-white;
}
.hover-animation-border:hover::after {
  width: 100%;
}
